<div fxLayout="column" fxLayoutAlign="space-around left" >
	<div fxLayout="row" fxLayout="space-between">		
		  <mat-form-field fxFlex="50" >
		    <mat-label>Seu Nome aqui</mat-label>
		    <input matInput placeholder="Seu Nome" [(ngModel)] = "dados.post.nome">
		    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
		    <mat-hint></mat-hint>
		  </mat-form-field>

		  <mat-form-field fxFlex="40" >
		    <mat-label>Digite seu E-mail</mat-label>
		    <input matInput placeholder="Seu Email" [(ngModel)] = "dados.post.email">
		    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
		    <mat-hint>Ex: luizm7@gmail.com</mat-hint>
		  </mat-form-field>
		</div>
		<div fxLayout="row" fxLayout="space-between">	
		  <mat-form-field fxFlex="50" >
		    <mat-label>Título</mat-label>
		    <input matInput placeholder="Título da Mensagem" [(ngModel)] = "dados.post.titulo">
		    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
		    <mat-hint></mat-hint>
		  </mat-form-field>
		
		  <mat-form-field fxFlex="40">
		    <mat-label>SubTitulo</mat-label>
		    <input matInput placeholder="SubTitulo da Mensagem" [(ngModel)] = "dados.post.subtitulo">
		    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
		    <mat-hint></mat-hint>
		  </mat-form-field>
		</div>
		<div fxLayout="row" fxLayout="space-between">	
		  <mat-form-field>
		    <textarea matInput placeholder="Deixe Aqui sua Mensagem" [(ngModel)] = "dados.post.mensagem"></textarea>
		  </mat-form-field>		
	</div>
</div>

<input type="file" name="" style="display: none;" #fileinput  (change)="mudouarquivo($event)">
<button mat-stroked-button color="primary" (click)="fileinput.click()">
	  <mat-icon matSuffix>add_a_photo</mat-icon>
	Adicionar foto
</button>
<p *ngIf="nomearquivo!=''"><strong>Arquivo:</strong>{{nomearquivo}}
 <mat-icon color="primary">done</mat-icon>
</p>

<br><br>

<div style="text-align: center;">
	<button mat-stroked-button color="primary" (click)="salvar()">
		OK
	</button>
	<button mat-stroked-button color="warn" (click)="cancelar()">
	 	Cancelar
	</button>

</div>